altgraph==0.17.4
black==25.9.0
click==8.3.0
EbookLib==0.19
lxml==6.0.2
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6-sip==13.10.2
six==1.17.0
